.react:hover{
  background-color: crimson
}
.temp:hover{
  background-color: crimson
 
}

.div1{
   background-color:orangered;
  
//  height:400px;
color: rgb(255, 255, 255);
  background-attachment: fixed;
  background-repeat: repeat;
  display: block;
}
.head{
  text-align: center;
  font-family: cursive;
  font-size: 200%
}
.menu{
  font-family: cursive;
  font-size: 150%
}