// .back
// {
//     // background-color :black;
//     // float: right;
//     // color: white;
//     // padding: 16px;
//     // border-radius: 75%;
//     // vertical-align: right;
//     // position: relative;
//     // top : 5;
//     // right : 25;    
// }

// .dept
// {
//     background-color:indianred;
//     // float: left;
//     // color: white;
//     // padding: 12px;
//     // border-radius: 25%;
//     // vertical-align: left;
//     // position:absolute;
//     //  top : 155px;
//     // left : 320px;    
// }

// .emp
// {
//     background-color:yellowgreen;
// //     float: left;
// //     color: white;
// //     padding: 12px;
// //     border-radius: 25%;
// //     vertical-align:left;
// //     position: absolute;
// //     top : 155px;
// //     left : 150px;    
// }

// .role
// {
//     background-color:indigo;
// //     float: left;
// //     color: white;
// //     padding: 12px;
// //     border-radius: 25%;
// //     vertical-align: left;
// //     position:absolute;
// //     top:155px;
// //     left : 505px;    
// }
h2{
    text-align: center;
    color:red
}
.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    }