.back{
 
    float:right;
    vertical-align: right;
    position: absolute;
    padding: 16px;
    top: 200px;
    right: 15px;
}
#rm{
    float: left;
    vertical-align: left;
    position: absolute;
   
}

#hr{
    float: right;
    vertical-align: right;
    position: absolute;
   
}

